[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diffusionMap"]
	path = diffusionMap
	url = https://github.com/rcannood/diffusionmap
[submodule "GillespieSSA"]
	path = GillespieSSA
	url = https://github.com/rcannood/gillespiessa
[submodule "GillespieSSA2"]
	path = GillespieSSA2
	url = https://github.com/rcannood/gillespiessa2
[submodule "incgraph"]
	path = incgraph
	url = https://github.com/rcannood/incgraph
[submodule "princurve"]
	path = princurve
	url = https://github.com/rcannood/princurve
[submodule "qsub"]
	path = qsub
	url = https://github.com/rcannood/qsub
[submodule "SCORPIUS"]
	path = SCORPIUS
	url = https://github.com/rcannood/scorpius
